<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Videos</title>
</head>
<body>
    {% for video in videos %}
        <div>
            <ul><h1>Title: {{ video.title }}</h1>
            <li>Size: {{ video.size}} MB</li>
            <li>Length: {{ video.length}} seconds</li>
            <li>Uploaded Date: {{ video.upload_date}}</li>
            </ul>
        </div>
    </br>
    {% endfor %}
</body>
</html>